<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EDocuments</title>
</head>
<body>
<h1>New document</h1>

<!--<form th:method="POST" th:action="@{/documents}" th:pbject="${companyDocument}">-->
<!--    <div>-->
<!--        <label for="designation">Designation</label>-->
<!--        <input type="text" th:field="*{designation}" id="designation"/>-->

<!--        <br>-->

<!--        <label for="description">Description</label>-->
<!--        <input type="text" th:field="*{description}" id="description"/>-->

<!--        <br>-->



<!--    </div>-->
<!--</form>-->
<h3>New document</h3>
<form th:method="PATCH" th:action="@{/documents}" th:object="${document}">
    <!--    ID: <input type="number" name="id"><br><br>-->
    Designation: <input type="text" name="designation"><br><br>
    Description: <input type="text" name="description"><br><br>
    <input type="submit" value="Create!"/>
</form>
</form>
</body>
</html>